MARIADB_ROOT_PASSWORD=ianseo
MARIADB_USER=ianseo
MARIADB_DATABASE=ianseo
MARIADB_PASSWORD=ianseo
IANSEO_R_HOST=ianseodb
IANSEO_R_USER=ianseo
IANSEO_R_PASS=verysecret
IANSEO_W_HOST=ianseodb
IANSEO_W_USER=ianseo
IANSEO_W_PASS=verysecret
IANSEO_DB=ianseo
