input[type="number"] {
    width: 7ch;
}

.updated {
    background-color: transparent;
    animation-name: updated;
    animation-duration: 3s;
}

.error {
    background-color: transparent;
    animation-name: error;
    animation-duration: 3s;
}

.d-none {
    display:none!important;
}

@keyframes updated {
    0%   {background-color: #00bb00;}
    70%   {background-color: #00aa00;}
    80%   {background-color: #00ff00;}
    90%   {background-color: #00aa00;}
    100% {background-color: transparent;}
}
@keyframes error {
    0%   {background-color: #bb0000;}
    70%   {background-color: #aa0000;}
    80%   {background-color: #ff0000;}
    90%   {background-color: #aa0000;}
    100% {background-color: transparent;}
}
