:root {
    --black:#000000;
    --text-white:#ffffff;
    --text-primary:#007bff;
    --text-primary-hover:#0062cc;
    --text-secondary:#868e96;
    --text-secondary-hover:#6c757d;
    --text-success:#28a745;
    --text-success-hover:#1e7e34;
    --text-info:#17a2b8;
    --text-info-hover:#117a8b;
    --text-warning:#ffc107;
    --text-warning-hover:#d39e00;
    --text-danger:#dc3545;
    --text-danger-hover:#bd2130;
    --text-light:#f8f9fa;
    --text-light-hover:#dae0e5;
    --text-dark:#343a40;
    --text-dark-hover:#1d2124;
    --text-muted:#868e96;
    --main-text:#000099;
    --header-light:#F0F8FF;
    --header-dark:#004488;
    --table-background:#E1F0FF;
    --row-background:#F9FCFF;
    --row-main-text:#F2F9ff;
    --bg-green:#A0FFA0;
    --bg-yellow:#FFFFA0;
    --bg-pink:#e8a0ff;
    --light-pink:#FFCC99;
    --bg-orange:#FFD000;
    --dark-red:#E00000;
    --light-red:#FFA0A0;
    --bg-cell-header:#BFDDFF;
    --input-border:#97B9E6;
    --light-grey:#E8E8E8;
    --dark-grey:#969292;
    --border-dark:#0066CC;
}
