:root {
    --header-light:#FFF8F0;
    --header-dark:#884400;
    --table-background:#FFF0E1;
    --row-background:#FFFCF9;
    --row-main-text:#FFF9F2;
    --bg-cell-header:#FFDDBF;
    --border-dark:#CC6600;
    --main-text:#660000;
    --bg-cell-header:#FFDDBF;
}
