.num-3ch {
    width:3ch;
}

.num-5ch {
    width:5ch;
}

.num-7ch {
    width:7ch;
}

.num-9ch {
    width:9ch;
}

.num-11ch {
    width:11ch;
}

.num-13ch {
    width:13ch;
}

.d-none {display:none!important;}